<h2>Products</h2>

<div *ngFor="let product of products">
  <h3>
    <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
      {{ product.name }}
    </a>
    <p *ngIf="product.description;else other_content">
      {{ product.description }}<br /><br />
      <span class="priceText">{{ product.price | currency }}</span>
    </p>
    <ng-template #other_content>
      <p class="priceText">{{ product.price | currency}}</p>
    </ng-template>
    <div><button (click)="share()">
      Share
    </button>
      <app-product-alerts [product]="product" (notify)="onNotify()">
      </app-product-alerts>
    </div>
  </h3>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->